@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
   font-family: 'Open Sans',serif;
}

#mc_embed_signup{
  background:#fff; 
  clear:left; 
  font:14px Helvetica,Arial,sans-serif; 
}
html, body {
  height:100%;
}

#top{
  text-align: center; 
  color:white;
  background-image: url("../../delanistudio/img/backgrounds/h_img.jpg");
  background-size: cover;
  }
h1{
  text-align: center;
}
#about{
  text-align: center;
  padding-bottom: 30px;
  padding-top:40px;
  font-family: 'Open Sans', serif;
}